form
{
  font-size: 2.5rem;
}

.flag
{
  width:8rem;
  height:6rem;
  float:right;
}

.response
{
  font-size: 2rem;
}

input[type=text]
{
  width: 10rem;
  height: 1.5rem;
  margin-right: 5px;
  font-size: 1rem;
}

input[type=text]:focus
{
  outline: none;
  border:2px solid black;
}

.title
{
  font-weight: 700;
  text-align: center;

}

a
{
  color: black;
  font-weight: 500;
}

.property
{
  font-weight: 600;
}

input[type=submit]
{
  font-size:1.3rem;
  border:1px solid black;
  background-color:rgb(122, 190, 222) ;
  padding:2px;
  color: black;
  border-radius:5px;
}

input[type=submit]:hover
{
  background-color:rgb(71, 176, 224) ;
  cursor: pointer;
}

