.button
{
  font-size: 1rem;
  margin: 5px;
  font-weight: 600;
  border: none;
  color:rgb(1, 48, 125) ;
  background:none;
  margin: 5px;
}

input[type=text]
{
  border: none;
  background: none;
  border-bottom: 1px solid rgb(1, 48, 125);
  margin: 5px;
  font-size: 2rem;
  color: rgb(1, 48, 125);
  font-family: 'Times New Roman', Times, serif;
}
input[type=text]:focus
{
  outline: none;
  border-bottom: 2px solid rgb(1, 48, 125);
}

.button:hover
{
  cursor: pointer;
  border-bottom:1px solid rgb(1, 48, 125);
  padding-bottom: 4px;
}
.search
{
  margin: auto;
  text-align: center;
}

.flag
{
  width:3cm;
  height:2cm;
  float:right;
}

.response
{
  font-size: 1.3rem;
  color: rgb(1, 48, 125);
}

a
{
  color:rgb(1, 48, 125) ;
}

.error
{
  background-color: rgb(253, 55, 55);
  color: rgb(129, 3, 3);
  border: 1px solid rgb(129, 3, 3) ;
  width: fit-content;
  padding:4px;
}
