<app-side-bar></app-side-bar>
<section>
    <form #countryName="ngForm" (ngSubmit)="onsubmit()" novalidate >
      <label>Enter the name of the country</label>
      <br/>
      <br/>
      <div class="search">
        <input type="text" name="country" required [(ngModel)]="country" class="text"/>
        <br/>
        <input  type="submit"  value="search"class="button"/>
      </div>

      <p class="error" [(innerHtml)]="errorMessage" *ngIf="errorMessage"></p>

    </form>
    <br/>

    <div *ngIf="response" class="response">
      <img [src]="record.flag" class="flag" alt="flag of the country" />
      -Common Name: {{ record.common}}
      <br/>
      -Officical Name: {{ record.official }}
      <br/>

      -Capital: <span *ngFor="let c of record.capital">
        {{ c }}
      </span>
      <br/>

      -Language: <span *ngFor="let l of record.languages" >
        {{ l }}
      </span>
      <br/>

      -Continent(s): <span *ngFor="let continent of record.continents" >
        {{ continent }}
      </span>
      <br/>

      -Currency:
      <span *ngFor="let currency of record.currencies">
        {{ currency.name }}  {{ currency.symbol }}
      </span>
      <br/>
    -Click here to display the <a [href]="record.map" target="_blank" class="map">map of {{ record.common }}</a>
    </div>


</section>
