<section class="country">
    <form #countryName="ngForm" (ngSubmit)="onsubmit()" novalidate>
      <p class="title">To know more about any country </p>
        <span>Enter the name of the country here </span>
        <input type="text" name="country" required [(ngModel)]="country" />
        <input  type="submit"  value="search"/>
        <p class="error" [(innerHtml)]="errorMessage" *ngIf="errorMessage"></p>
    </form>

    <br/>

    <div *ngIf="response" class="response">
      <img [src]="record.flag" class="flag" alt="The flag of the country" />
      <span class="property">-Common Name:</span> {{ record.common}}
      <br/>
      <span class="property">-Officical Name:</span> {{ record.official }}
      <br/>

      <span class="property">-Capital:</span> <span *ngFor="let c of record.capital">
        {{ c }}
      </span>
      <br/>

      <span class="property">-Language(s):</span> <span *ngFor="let l of record.languages; let isLast = last" >
        {{ l }}<span *ngIf="!isLast">,</span>
      </span>
      <br/>

      <span class="property">-Continent(s):</span> <span *ngFor="let continent of record.continents; let isLast = last" >
        {{ continent }} <span *ngIf="!isLast">,</span>
      </span>
      <br/>

      <span class="property">-Currency:</span>
      <span *ngFor="let currency of record.currencies">
        {{ currency.name }} <b>{{ currency.symbol }}</b>
      </span>
      <br/>
    -Click here to display the <a [href]="record.map" target="_blank">map of {{ record.common }}</a>
    </div>
</section>
