aside
{
  height: fit-content;
  top:0;
  left:0;
  background-color:rgb(0, 104, 165);
  width: 100%;
  border: none;
}

a
{
  text-decoration: none;
  color:rgb(74, 238, 250);
  font-weight:500;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3rem;
}

span
{
  display: inline-block;
  margin: 5px 5px 5px 0px;
  padding: 7px;
}

a:hover span
{
  border-bottom: 1px solid rgb(74, 238, 250);
}

.button
{
  font-weight:600;
}

.pi
{
  font-size: 1.5rem;
  color:rgb(74, 238, 250);
}


/* Desktop Styles (min-width: 1024px) */
@media only screen and (min-width: 1024px) {
  .pi
  {
    display: none;
  }

}

/* Tablet Styles (min-width:767px) and (max-width: 1023px) */
@media only screen and (min-width: 767px) and (max-width: 1023px) {
.pi
  {
    display: none;
  }
}

/* Mobile Styles (max-width: 767px) */
@media only screen and (max-width: 767px) {
  .pi
  {
    display: none;
  }
  .pi-chevron-down
  {
    display: inline-block;
  }

  aside
  {
    display: none;
  }

}


