@import "node_modules/primeflex/primeflex.css";
/* You can add global styles to this file, and also import other style files */

.home
{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(assets/world.jpg);
  background-size: cover;
  background-position: center;
  height:100vh;

}

.country
{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(assets/fullbackground.jpg);
  background-size: cover;
  background-position: center;
  height:100vh;

}

.lang
{
  background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.7), rgba(0, 0, 0, 0.7)),url(assets/flags1.jpg);
  background-position: center;
  height:fit-content;
  min-height: 100vh;

}


html {height:100%;}
main {height: 100%;}
body
{
  margin: 0;
  padding:0;
  background-color: rgb(132,206,243);
  width: 100%;
  height: 100%;
}

section
{
  padding: 1cm;
}
*
{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.error
{
  background-color: rgb(255, 63, 63);
  color: rgb(129, 3, 3);
  border: 1px solid rgb(129, 3, 3) ;
  width: fit-content;
  padding:4px;
  font-size: 1.5rem;
}

/* Desktop Styles (min-width: 1024px) */
@media only screen and (min-width: 1024px) {

}

/* Tablet Styles (min-width:767px) and (max-width: 1023px) */
@media only screen and (min-width: 767px) and (max-width: 1023px) {

}

/* Mobile Styles (max-width: 767px) */
@media only screen and (max-width: 767px) {

}
